@media (max-width: 412px){
  body{
    max-width: 412px;
  }

  /*                       header                         */

  .burger_menu{
    display: flex;
    border: none;
    z-index: 1;
  }

  .header{
    position: fixed;
    width: 412px;
    opacity: 0.95;
  }

  .header_menu{
    position: relative;
  }

  .header_menu_list{
    position: absolute;
    width: 160px;
    height: 284px;
    right: -240px;
    top: 0;
    background-image: url(/img/burger_menu_background.png);
  }

  .header_list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 25px 15px;
  }

  .list_text{
    display: inline-block;
    width: 39px;
    font-size: 14px;
    line-height: 17px;
  }

  .list_text_width{
    display: inline-block;
    width: 150px;
  }

  .header.open .header_menu_list{
    transform: rotateX(100%);
  }

  .burger_menu.active{
    flex-direction: row;
  }

  .burger_menu.active{
    background-color: #fff;
  }

  .burger_menu.active .burger_menu_line_2{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #4D030B;
  }

  .burger_menu.active .burger_menu_line_1{
    display: none;
  }

  .burger_menu.active .burger_menu_line_3{
    display: none;
  }

  .header_menu_list.active{
    right: 0px;
  }
   /*                       hero                            */

  .hero{
    width: 412px;
    height: 375px;
  }

  /*                            About                      */

  .about{
    align-items: center;
  }

  .about_img{
    width: 150px;
  }

  .about_text{
    width: 150px;
  }

  .about_active{
  position: relative;
  width: 100px;
}

  .about_date{
    width: 150px;
}

  .about_position{
    right: -75px;
    bottom: -3px;
  }

  .about_hover__active{
    left: -295px;
  }

  /*                           Catalog                     */

  .reviews{
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 1050px;
    gap: 40px;
  }

  .reviews_people{
    width: 150px;
    height: 375px;
  }

  .reviews_people_text{
    width: 150px;
  }

  /*                           Gallery                       */

  .Gallery_title{
    position: absolute;
    display: inline-block;
    width: 250px;
    left: 75px;
  }

  .Gallery_background{
    background-image: url(/img/word3.png);
    width: 767px;
    height: 1200px;
  }

  .Gallery_img{
    width: 275px;
    height: 200px;
  }

  .Gallery_img_background{
    width: 300px;
    height: 225px;
  }

  .Gallery_position_1{
    position: absolute;
    left: 35px;
    top: 300px;
  }
  
  .Gallery_position_2{
    position: absolute;
    left: 35px;
    top: 600px;
  }
  
  .Gallery_position_3{
    position: absolute;
    top: 900px;
    left: 35px;
  }

  .Feedback_block{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Feedback_forms_bacground_imege{
    width: 350px;
  }

  .Feedback_forms{
    width: 350px;
  }

  .input{
    width: 300px;
  }

  .ask{
    width: 300px;
  }
}

